<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gangnam-style web component</title>
    <link rel="stylesheet" href="../components/gangnam-style/gangnam-style.css">
</head>
<body>
    <div id="container"></div>
    <script src="scrat.js"></script>
    <script src="vue.js"></script>
    <script>
        require.config(__FRAMEWORK_CONFIG__);
        require.async('app', function (App) {
            var app = new App();
            app.$appendTo(document.querySelector('#container'));
        })
    </script>
</body>
</html>