<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gangnam-style web component</title>
    <link rel="stylesheet" href="../components/gangnam-style/gangnam-style.css">
</head>
<body>
    <div id="app">
        <div style="display:-webkit-box">
          <gangnam-style></gangnam-style>
          <gangnam-style></gangnam-style>
          <gangnam-style></gangnam-style>
        </div>
    </div>
    <script src="scrat.js"></script>
    <script src="vue.js"></script>
    <script>
        require.config(__FRAMEWORK_CONFIG__);
        require.async('boot', function (boot) {
            boot();
        })
    </script>
</body>
</html>